<%= form_with(model: special_offer, class: "contents") do |form| %>
  <% if special_offer.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(special_offer.errors.count, "error") %> prohibited this special_offer from being saved:</h2>

      <ul class="list-disc ml-6">
        <% special_offer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": special_offer.errors[:name].none?, "border-red-400 focus:outline-red-600": special_offer.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.textarea :description, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": special_offer.errors[:description].none?, "border-red-400 focus:outline-red-600": special_offer.errors[:description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :discount_percentage %>
    <%= form.text_field :discount_percentage, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": special_offer.errors[:discount_percentage].none?, "border-red-400 focus:outline-red-600": special_offer.errors[:discount_percentage].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :start_date %>
    <%= form.date_field :start_date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": special_offer.errors[:start_date].none?, "border-red-400 focus:outline-red-600": special_offer.errors[:start_date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": special_offer.errors[:end_date].none?, "border-red-400 focus:outline-red-600": special_offer.errors[:end_date].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :facility_id %>
    <%= form.text_field :facility_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": special_offer.errors[:facility_id].none?, "border-red-400 focus:outline-red-600": special_offer.errors[:facility_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :min_hours %>
    <%= form.number_field :min_hours, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": special_offer.errors[:min_hours].none?, "border-red-400 focus:outline-red-600": special_offer.errors[:min_hours].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :code %>
    <%= form.text_field :code, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": special_offer.errors[:code].none?, "border-red-400 focus:outline-red-600": special_offer.errors[:code].any?}] %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.label :is_active %>
    <%= form.checkbox :is_active, class: ["block shadow-sm rounded-md border order-first h-5 w-5", {"border-gray-400 focus:outline-blue-600": special_offer.errors[:is_active].none?, "border-red-400 focus:outline-red-600": special_offer.errors[:is_active].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
