<div id="<%= dom_id booking %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= booking.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Facility:</strong>
    <%= booking.facility_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Start time:</strong>
    <%= booking.start_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">End time:</strong>
    <%= booking.end_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= booking.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total amount:</strong>
    <%= booking.total_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Discount amount:</strong>
    <%= booking.discount_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Final amount:</strong>
    <%= booking.final_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= booking.notes %>
  </div>
</div>
