<%= form_with(model: booking, class: "contents") do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul class="list-disc ml-6">
        <% booking.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": booking.errors[:user_id].none?, "border-red-400 focus:outline-red-600": booking.errors[:user_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :facility_id %>
    <%= form.text_field :facility_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": booking.errors[:facility_id].none?, "border-red-400 focus:outline-red-600": booking.errors[:facility_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :start_time %>
    <%= form.datetime_field :start_time, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": booking.errors[:start_time].none?, "border-red-400 focus:outline-red-600": booking.errors[:start_time].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :end_time %>
    <%= form.datetime_field :end_time, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": booking.errors[:end_time].none?, "border-red-400 focus:outline-red-600": booking.errors[:end_time].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.text_field :status, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": booking.errors[:status].none?, "border-red-400 focus:outline-red-600": booking.errors[:status].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :total_amount %>
    <%= form.text_field :total_amount, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": booking.errors[:total_amount].none?, "border-red-400 focus:outline-red-600": booking.errors[:total_amount].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :discount_amount %>
    <%= form.text_field :discount_amount, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": booking.errors[:discount_amount].none?, "border-red-400 focus:outline-red-600": booking.errors[:discount_amount].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :final_amount %>
    <%= form.text_field :final_amount, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": booking.errors[:final_amount].none?, "border-red-400 focus:outline-red-600": booking.errors[:final_amount].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :notes %>
    <%= form.textarea :notes, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": booking.errors[:notes].none?, "border-red-400 focus:outline-red-600": booking.errors[:notes].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
