<%= form_with(model: facility, class: "contents") do |form| %>
  <% if facility.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(facility.errors.count, "error") %> prohibited this facility from being saved:</h2>

      <ul class="list-disc ml-6">
        <% facility.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": facility.errors[:name].none?, "border-red-400 focus:outline-red-600": facility.errors[:name].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.textarea :description, rows: 4, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": facility.errors[:description].none?, "border-red-400 focus:outline-red-600": facility.errors[:description].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :facility_type %>
    <%= form.text_field :facility_type, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": facility.errors[:facility_type].none?, "border-red-400 focus:outline-red-600": facility.errors[:facility_type].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :capacity %>
    <%= form.number_field :capacity, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": facility.errors[:capacity].none?, "border-red-400 focus:outline-red-600": facility.errors[:capacity].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :hourly_rate %>
    <%= form.text_field :hourly_rate, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": facility.errors[:hourly_rate].none?, "border-red-400 focus:outline-red-600": facility.errors[:hourly_rate].any?}] %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.label :is_active %>
    <%= form.checkbox :is_active, class: ["block shadow-sm rounded-md border order-first h-5 w-5", {"border-gray-400 focus:outline-blue-600": facility.errors[:is_active].none?, "border-red-400 focus:outline-red-600": facility.errors[:is_active].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :image_url %>
    <%= form.text_field :image_url, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": facility.errors[:image_url].none?, "border-red-400 focus:outline-red-600": facility.errors[:image_url].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
