<%= form_with(model: facility_availability, class: "contents") do |form| %>
  <% if facility_availability.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(facility_availability.errors.count, "error") %> prohibited this facility_availability from being saved:</h2>

      <ul class="list-disc ml-6">
        <% facility_availability.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :facility_id %>
    <%= form.text_field :facility_id, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": facility_availability.errors[:facility_id].none?, "border-red-400 focus:outline-red-600": facility_availability.errors[:facility_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :day_of_week %>
    <%= form.number_field :day_of_week, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": facility_availability.errors[:day_of_week].none?, "border-red-400 focus:outline-red-600": facility_availability.errors[:day_of_week].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :open_time %>
    <%= form.time_field :open_time, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": facility_availability.errors[:open_time].none?, "border-red-400 focus:outline-red-600": facility_availability.errors[:open_time].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :close_time %>
    <%= form.time_field :close_time, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": facility_availability.errors[:close_time].none?, "border-red-400 focus:outline-red-600": facility_availability.errors[:close_time].any?}] %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.label :is_active %>
    <%= form.checkbox :is_active, class: ["block shadow-sm rounded-md border order-first h-5 w-5", {"border-gray-400 focus:outline-blue-600": facility_availability.errors[:is_active].none?, "border-red-400 focus:outline-red-600": facility_availability.errors[:is_active].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
